// =============================================================================
// THEME FOCUS (global)
// ============================================================================

$outline-width:  2px;
$outline-style:  solid;
$outline-color:  #000000;
$outline-offset: 1px;

label {
    input:focus + & {
        outline: $outline-width $outline-style $outline-color !important;
        outline-offset: $outline-offset !important;        
    }
}
