// =============================================================================
// CATEGORY (CSS)
// =============================================================================


// Category header
// -----------------------------------------------------------------------------

.category-header-image {
    width: 100%;
}

.page-header {
    .category-header {
        margin-bottom: 0;
        font-family: Mechfire;
    }
}


