<div class="category-section">
    <div class="container">
        <h2>Featured Categories</h2>
        <div class="row">
            <div class="medium-4 columns">
                <h3 class="title">AMMO</h3>
                <img class="lazyload" src="{{cdn '/assets/img/bullets/bullet-1.jpg'}}">
                <div class="overlay"></div>
            </div>
            <div class="medium-4 columns">
                <h3 class="title">AMMO</h3>
                <img class="lazyload" src="{{cdn '/assets/img/bullets/bullet-2.jpg'}}">
                <div class="overlay"></div>
            </div>
            <div class="medium-4 columns">
                <h3 class="title">AMMO</h3>
                <img class="lazyload" src="{{cdn '/assets/img/bullets/bullet-3.JPG'}}">
                <div class="overlay"></div>
            </div>
        </div>
    </div>
</div>