<div class="category-section">
    <div class="container">
        <h2>Featured Categories</h2>
        <div class="row category-row">
            <div class="medium-4 columns">
                <div class="bullet-content">
                    <a href="/pistol/"><span>Pistol</span></a>
                    <img class="lazyload" src="{{cdn '../img/bullets/pistol-ammo.png'}}">            
                </div>
            </div>
            <div class="medium-4  columns">
                <div class="bullet-content">
                    <a href="/rifle/">Rifle</a>
                    <img class="lazyload" src="{{cdn '../img/bullets/rifle-ammo.png'}}">            
                </div>
            </div>
            <div class="medium-4 columns">
                <div class="bullet-content">
                    <a href="/shotshell/">Shotshell</a>
                    <img class="lazyload" src="{{cdn '../img/bullets/shotshell-ammo.png'}}">            
                </div>
            </div>
        </div>
    </div>
</div>