<div class="category-section">
    <div class="container">
        <h2>Featured Categories</h2>
        <div class="row">
            <div class="medium-4 columns">
                <a href="/ammunitions/">
                    <div class="image-content">
                        <img class="lazyload" src="{{cdn '/assets/img/bullets/bullet-1.jpg'}}">
                        <div class="content">
                            <h3 class="title">Pistol</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="medium-4  columns">
                <a href="/firearms/">
                    <div class="image-content">
                        <img class="lazyload" src="{{cdn '/assets/img/bullets/bullet-2.jpg'}}">
                        <div class="content">
                            <h3 class="title">Rifle</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="medium-4 columns">
                <a href="/apparel/">
                    <div class="image-content">
                        <img class="lazyload" src="{{cdn '/assets/img/bullets/bullet-3.JPG'}}">
                        <div class="content">
                            <h3 class="title">Flagship</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>